[submodule "External/MathLib"]
	path = External/MathLib
	url = https://github.com/NVIDIAGameWorks/MathLib.git
	branch = main
	update = merge
[submodule "External/ShaderMake"]
	path = External/ShaderMake
	url = https://github.com/NVIDIAGameWorks/ShaderMake.git
	branch = main
	update = merge