name: Build NRD SDK
on:
  push:
    branches:
      - master
jobs:
  Build-Windows:
    runs-on: windows-latest
    steps:
      - 
        name : Checkout
        uses: actions/checkout@v3
        with:
          submodules: true
      -
        name: Install dependencies
        uses: crazy-max/ghaction-chocolatey@v1
        with:
          args: install windows-sdk-10.0 cmake -y
      - 
        name: Install Vulkan
        run: |
          $ver = (Invoke-WebRequest -Uri "https://vulkan.lunarg.com/sdk/latest.json" | ConvertFrom-Json).windows
          echo Vulkan SDK version $ver
          $ProgressPreference = 'SilentlyContinue'
          Invoke-WebRequest -Uri "https://sdk.lunarg.com/sdk/download/$ver/windows/VulkanSDK-$ver-Installer.exe" -OutFile VulkanSDK.exe
          echo Downloaded
          .\VulkanSDK.exe --root C:\VulkanSDK  --accept-licenses --default-answer --confirm-command install
      - 
        name: Deploy NRD SDK
        run: |
          $Env:VULKAN_SDK = "C:/VulkanSDK/"
          $Env:Path += ";C:/VulkanSDK/Bin"
          .\1-Deploy.bat --no-pause
      -
        name: Build NRD SDK
        run: |
          $Env:VULKAN_SDK = "C:/VulkanSDK/"
          $Env:Path += ";C:/VulkanSDK/Bin"
          .\2-Build.bat --no-pause --debug-build
      - 
        name: Prepare NRD SDK
        run: |
          &'.\3-Prepare NRD SDK.bat' --no-pause --copy-shaders
      - 
        name: Upload NRD SDK as artefact
        uses: actions/upload-artifact@v3
        with:
          name: NRD SDK
          path: _NRD_SDK